html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: Arial;
	background: #6941BC;
}

.container {
	height: 100%;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;

	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;
}

.nav {
	width: 250px;
	-ms-flex: 0 100px;
	-webkit-box-flex:  0;
	-moz-box-flex:  0;
	-ms-box-flex:  0;
	box-flex:  0; 
	text-align:center; 
}

.nav .title {
	color: #fff;
}

.nav input[type=text] {
	border: none;
	background: #7C56C3;
	color: #fff;
	padding: 10px;
	width: 80%;
	border-radius: 5px;
}

.nav input:focus, .nav input:focus{
    outline: none;
}

.main {
	background: #9876EC;
	-ms-flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;  
	padding-bottom: 10px;
}

.table {
	width: 96px;
	display: inline-block;
	margin: 10px 0 0 10px ;
	padding: 10px;
	color: #fff;
	background: #9F7DF3;
	background: -moz-linear-gradient(top, #8e61e4 0%, #825ddd 53%, #5d4bc5 100%);
	background: -webkit-linear-gradient(top, #8e61e4 0%,#825ddd 53%,#5d4bc5 100%);
	background: linear-gradient(to bottom, #8e61e4 0%,#825ddd 53%,#5d4bc5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e61e4', endColorstr='#5d4bc5',GradientType=0 );
	border: 1px solid #7E65BD;
}

.tableIndex {
	color: #999FDD;
}

.cellContainer {
	height: 96px;
	position: relative;
}

.cellTitle {
	text-transform: uppercase;
	text-align:center;
	font-size: 11px;
	padding: 10px 0 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.text1 {
	color: #414584;
}

.text2 {
	color: #FD76B2;
}

.cellValue {
	text-align:center;
	font-size: 10px;
}

.cell {
	background-color: #6B4CA9;
	width: 14px;
	height: 14px;
	border: solid 1px #6B4CA9;
	border-radius: 50%;
	position: absolute;
	overflow: hidden;
}

.cell div {
	background-color: #FFFFFF;
	height: 14px;
}

.filter {
	margin: 20px 0;
	color: #fff;
	font-size: 12px;
	
}

.sourceList a {
	background: #FFF;
	padding: 5px 10px;
	margin: 5px;
	border-radius:10px;
	font-size: 10px;
	text-decoration: none;
}

.sourceList a:focus, .sourceList a:focus{
    outline: none;
}

.sourceList a.active {
	color: #3AD7FD;
}




